#SurveyEngineBody {
  background-color: #efefef; }

#SurveyEngineBody {
  background-color: #ccc;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; }

html .Skin #Logo {
  background-color: transparent;
  height: 109px; }

html .Skin #Logo {
  background: url(logo.png) no-repeat left center;
  background-size: 300px 79px;
  margin: 0 auto;
  width: 770px; }

html .CSS3 .Skin #Logo {
  background: url(logo.png) no-repeat left center;
  background-size: 300px 79px;
  margin: 0 auto;
  width: 770px; }

.Skin .SkinInner {
  margin: 10 auto; }
.Skin #SkinContent {
  -webkit-box-shadow: 0 0 6px #aaaaaa;
  -moz-box-shadow: 0 0 6px #aaaaaa;
  box-shadow: 0 0 6px #aaaaaa;
  color: #222222; }
.Skin #LogoBar {
  background: #fff;
  margin: 0 auto; }
.Skin #Header {
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white; }
.Skin .SkinInner table {
  color: #222222; }
.Skin .ReadableAlt,
.Skin .LightBG {
  background: #f8f8f8; }
.Skin .ProgressBarFillContainer {
  border-color: #ae0000; }
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton, .Skin .RO .DND ul.Edited .rank, .Skin .RO .DND ul.NotEdited li:hover .rank,
.Skin .RO .DND .rank, .Skin .ProgressBarFill, .Skin .ProgressBarFill, .Skin #Header {
  /* I can't decide if we should set global gradient variables. Normally we only have one or two gradients at most.*/
  background: #ae0000; }
.Skin .horizontalbar tr.xlabel th:last-child {
  border-bottom-color: transparent; }
.Skin #Buttons #PreviousButton {
  float: left; }
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px 30px;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .Skin #Buttons #NextButton:active, .Skin #Buttons #NextButton :hover, .Skin #Buttons #PreviousButton:active, .Skin #Buttons #PreviousButton :hover {
    box-shadow: none;
    top: 0px;
    -webkit-appearance: none; }
  .Skin #Buttons #NextButton:hover, .Skin #Buttons #PreviousButton:hover {
    background: #480000; }
.Skin .Separator {
  background-color: transparent; }
.Skin .BorderColor {
  border-color: #aaa; }
.Skin .ProgressBarFill {
  padding: 2px 0px; }
.Skin .QuestionBody .TextEntryBox, .Skin .TE textarea, .Skin .TE input, .Skin .TE .ML textarea, .Skin .TE .ESTB textarea, .Skin .RO .RankInput,
.Skin .CS input.SumInput, .Skin .CS input.SumTotal, .Skin .Matrix .CS input, .Skin .Matrix .RO input,
.Skin .SBS .Long, .Skin .horizontalbar tr.Stars td.value input, .Skin .horizontalbar table.sliderGrid tr td.value input,
.Skin .PGR .DragAndDrop ul {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 2px #bbbbbb;
  -moz-box-shadow: 0 0 2px #bbbbbb;
  box-shadow: 0 0 2px #bbbbbb; }
.Skin .QuestionText {
  font-size: 18px;
  padding: 5px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 0; }
.Skin #Footer {
  width: auto;
  text-align: left;
  padding: 4px 20px 5px 20px;
  color: #333333; }
.Skin #Plug {
  color: #333333;
  padding: 12px 20px; }
  .Skin #Plug a {
    color: #ae0000; }
.Skin .PreviewBanner {
  color: #4d4d4d; }
.Skin .EndOfSurvey {
  border-width: 1px;
  padding: 15px;
  line-height: 1.5em;
  text-align: center;
  color: #333333;
  margin-bottom: 15px; }

/* smartphone styles */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .Skin #Header {
    padding: 10px 16px; }
  .Skin .MC .MAVR .QuestionBody label, .Skin .Skin .MC .SAVR .QuestionBody label {
    line-height: 48px;
    font-size: 15px; }
  .Skin #LogoBar {
    width: 100%; }

  html .Skin #Logo {
    background-position: 20px center; }

  html .CSS3 .Skin #Logo {
    background-position: 20px center; } }
/* tablet styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Skin .MC .MAVR .QuestionBody label, .Skin .MC .SAVR .QuestionBody label {
    line-height: 36px;
    font-size: 15px; }

  #LogoBar {
    width: 100%; }

  html .CSS3 .Skin #Logo, html .Skin #Logo {
    max-width: 90%;
    width: 770px; } }
